<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wybierz metodę płatności</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% extends "base.html" %}
</head>
{% block content %}
<body>
    <h1>Wybierz metodę płatności</h1>
    
    <form action="{{ url_for('payment_detail', car_id=car_id, rental_id=rental_id) }}" method="POST">
        <label for="payment_method">Metoda płatności:</label>
        <select name="payment_method" id="payment_method" required>
            {% for method in payment_methods %}
            <option value="{{ method }}">{{ method }}</option>
            {% endfor %}
        </select>
        <br><br>
        
        <h3>Kwota do zapłaty: {{ amount }} PLN</h3>
        <h3>Termin płatności: {{ payment_date }}</h3>
        
        <button type="submit">Zatwierdź płatność</button>
    </form>
</body>
</html>
{% endblock %}