<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proces Wypożyczenia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% extends "base.html" %}
</head>

{% block content %}
<body>
    <h1>Proces Wypożyczenia</h1>
    <form action="{{ url_for('rental', car_id=car.id) }}" method="POST">
        <h2>Wybierz datę rozpoczęcia i zakończenia wynajmu</h2>
        <input type="hidden" name="car_id" value="{{ car.id }}">
        <label for="rental_date">Data rozpoczęcia:</label>
        <input type="date" name="rental_date" required><br>
        <label for="return_date">Data zakończenia:</label>
        <input type="date" name="return_date" required><br>
        <button type="submit" name="step" value="1">Utwórz Wypożyczenie</button>
    </form>
</body>
</html>
{% endblock %}
